<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>First MVC</title>
</head>
<body>
    <header style="color:red">
        Header section
    </header>
    <main>
        @RenderBody()
    </main>
    
    <footer style="color:red">
        Footer section
    </footer>
</body>
</html>
